%html
  %head
    %title 10Card
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    #container
      %header
        .status
          - if logged_in?
            %form{ action: "/logout", method: "post" }
              %input.btn{ type: "submit", value: "Logout" }
            .welcome
              %span
                Benvenuto
              %a{ href: "/users/#{current_user.id}" }= current_user.username
          - else
            Effettua il
            %a.btn{ href: "/login" } Login
            o
            %a.btn{ href: "/register" } Iscriviti
        .clear
        %h1
          - link_to "10Card", "/"

      %nav
        - link_to "Home",         "/"
        - if shop?
          - link_to "Nuovo Acquisto",   "/purchases/new"
          - link_to "Registrazione cliente",  "/register"
          - link_to "Acquisti",         "/purchases"
        - if admin?
          - link_to "Utenti",            "/users"
          - link_to "Negozi (admin)",    "/shops_admin"
        - link_to "Negozi",              "/shops"

        %h1.logo
      %section.content= yield
    %script{ type: "text/javascript", src: "/js/app.js" }
