%h1 Nuovo acquisto

- validations_for @purchase

%form{ action: "/purchases", method: "post" }
  - input @purchase, :amount,     label: "Ammontare (&euro;)"
  - input @purchase, :card_code,  label: "Codice carta"
  - input @purchase, :notes,      label: "Note"
  - submit "Registra"