%h1 Shops

%p Qua puoi trovare tutte le attivita' che fanno parte del circuito 10Card:

%table{ cellspacing: 0 }

  - User.shops.each do |user|
    %tr
      %td
        - link_to user.name, "/shops/#{user.id}"
      %td= user.address