.subnav.right
  - link_to "back", "/users/#{@user.id}", class: "btn"

%h1
  Edit: #{@user.username}'s profile

- validations_for @user

%form.new_form{ action: "/users/#{@user.id}", method: "post" }
  - form_method :put
  - input @user, :email
  - input @user, :address, label: "Indirizzo"
  - submit "Save"